target/
.project
.cproject
.classpath
.settings/
.springBeans
eclipse-out/
.svn/
.idea/
.buildpath
.DS_Store
target/
bin/
.bin/
.externalToolBuilders/
devel/tmp/
*.pyc
*.iml
*.bak
gen/
jni/test/libs/
libs/armeabi/
obj/
/.apt_generated/
